.row
  .col-xs-4
    formly-form(
      model="graph.model"
      fields="graph.fields"
      form="graph.form"
    )
  .col-xs-8
    ng-vega(
      vega-spec="graph.spec"
      vega-data="graph.data"
      vega-renderer="graph.renderer"
    )
