mixin checkbox(label,model,options)
  .form-group
    if options
      label.col-xs-2=label
      .col-xs-10: each option, key in options
        .checkbox
          label
            input(type="checkbox" data-ng-model="#{model}[#{key}]")&attributes(attributes)
            |  #{option}
    else
      .col-xs-offset-2.col-xs-10
        .checkbox
          label
            input(type="checkbox")&attributes(attributes)
            |  #{label}