mixin input(name,label,type,messages,inputGroup,inputButton)
  .form-group(data-ng-class!="{'has-success': #{form}.#{name}.$valid, 'has-error': #{form}.#{name}.$invalid\&\&#{form}.#{name}.$touched}")
    label.col-xs-2.control-label(for="#{name}-input")=label
    .col-xs-10
      if inputGroup
        .input-group
          input.form-control(type=type||"text" name=name id="#{name}-input")&attributes(attributes)
          if inputButton
            span.input-group-btn: button.btn.btn-default(type="button" data-ng-click=inputButton data-ng-bind=inputGroup)
          else
            span.input-group-addon=inputGroup
      else
        input.form-control(type=type||"text" name=name id="#{name}-input")&attributes(attributes)
      if messages
        span.help-block(data-ng-show!="#{form}.#{name}.$touched\&\&#{form}.#{name}.$invalid" data-ng-messages!="#{form}.#{name}.$error"): each message, key in messages
          span(data-ng-message=key)=message
      block