mixin rating(name,label)
  .form-group
    label.col-xs-8(id="rating-"+name)=label
    .col-xs-4
      rating(
        aria-labelledby="rating-"+name
        ng-model="akzeptanz.summary."+name
        ng-change="akzeptanz.content.rate(akzeptanz.unit._id,'"+name+"',akzeptanz.summary."+name+")"
        aria-valuetext="{{akzeptanz.labels[akzeptanz.summary."+name+"]}}"
      )