mixin submit(value,form)
  .form-group
    .col-xs-2-offset.col-xs-10
      input.btn(type="submit" value=value ng-class!="{'btn-primary': #{form}.$valid,'btn-danger': #{form}.$invalid\&\&#{form}.$touched}" ng-disabled="#{form}.$invalid")