doctype html
html(lang="de" ng-app="wbt" strict-di)
  head
    title Statistik für Jedermann
    meta(charset="utf-8")
    if locals.env==='production'
      base(href="/statistikwbt/")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-messages.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-aria.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-animate.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-sanitize.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js")
      //-
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vega/1.5.0/vega.min.js")
      script(src="dist/bundle.min.js")
    else
      base(href="/")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-messages.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-aria.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-animate.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.angularVersion}/angular-sanitize.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js")
      //-
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vega/1.5.0/vega.js")
      script(src="dist/bundle.js")
  body(ng-cloak)
    ui-view
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script.
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });