doctype html
html(lang="de" ng-app="wbt" strict-di)
  head
    title Statistik für Jedermann
    meta(charset="utf-8")
    if locals.env==='production'
      base(href="/statistikwbt/")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/#{locals.versions.bootstrap}/css/bootstrap.min.css" rel="stylesheet")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/#{locals.versions.fontAwesome}/css/font-awesome.min.css" rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-messages.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-aria.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-animate.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-sanitize.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/#{locals.versions.lodash}/lodash.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/restangular/#{locals.versions.restangular}/restangular.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/#{locals.versions.d3}/d3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vega/#{locals.versions.vega}/vega.min.js")
      script(src="dist/bundle.min.js")
    else
      base(href="/")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/#{locals.versions.bootstrap}/css/bootstrap.css" rel="stylesheet")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/#{locals.versions.fontAwesome}/css/font-awesome.css" rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-messages.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-aria.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-animate.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/#{locals.versions.angular}/angular-sanitize.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/#{locals.versions.lodash}/lodash.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/restangular/#{locals.versions.restangular}/restangular.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/#{locals.versions.d3}/d3.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vega/#{locals.versions.vega}/vega.js")
      script(src="dist/bundle.js")
  body(ng-cloak)
    ui-view
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script.
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });