label.checkbox-inline(ng-repeat="(key, option) in to.options")
  input(
    type="checkbox"
    id="{{id + '_'+ $index}}"
    ng-model="multiCheckbox.checked[$index]"
    ng-change="multiCheckbox.change()"
    name="{{options.key}}"
    ng-value="option[to.valueProp||'value']"
  )
  |  {{option[to.labelProp || 'name']}}